@model AppointmentDetailsViewModel
<div class="container lh-backstage" id="app">
    <div class="row">
        <div class="col-12 lh-backstage-main-section">
            <div class="lh-backstage-homepage-section mb-5"
                 id="lh-backstage-homepage-section">
                <h3 class="lh-backstage-homepage-title my-5">
                    歡迎回來 <span>@User.Identity.Name</span>！這是你的課程被預約概況！
                </h3>
                <div class="lh-backstage-divider"></div>
                <div class="col-12">
                    <div class="lh-backstage-appointmentdetails- table">
                        <table class="lh-backstage-appointmentdetails-detail col-12 mt-5"
                               border="1">
                            <thead>
                                <tr>
                                    <td>預約日期</td>
                                    <td>預約時段</td>
                                    <td>學生名稱</td>
                                    <td>課程科目</td>
                                    <td>課程名稱</td>
                                </tr>
                            </thead>
                            <tbody border="1">
                                @if (Model.AppointmentDetailsList != null && Model.AppointmentDetailsList.Any())
                                {
                                    @foreach (var item in Model.AppointmentDetailsList)
                                    {
                                        <tr>
                                            <td>@item.BookingDate</td>
                                            <td>@item.BookingTime</td>
                                            <td>
                                                <a asp-controller="Chat" asp-action="Index" asp-route-id="@item.StudentId" asp-route-type="student">
                                                    @item.FullName (傳送訊息)
                                                </a>
                                            </td>
                                            <td>@item.Subject</td>
                                            <td>@item.CourseTitle</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">沒有預約資料</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section topCSS {

    <link rel="stylesheet" href="~/css/backstage.css" />

}