@model MemberOrderViewModel

<div class="container lh-backstage pt-4">
    <div class="row">
        <div class="col-12 lh-backstage-main-section">
            <div class="lh-backstage-transaction-section mb-5"
                 id="lh-backstage-transaction-section">
                <h3>交易紀錄</h3>
                <ul>
                    <li>
                        若因為教師或學生個人因素導致無法繼續上課，已購買課程將退至原消費之信用卡，請聯繫客服。
                    </li>
                    <li>
                        若待付款訂單中包含"未付款之體驗課"，需先取消或支付該筆訂單方可成功購買。
                    </li>
                </ul>
                <ul class="nav nav-tabs">
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           data-bs-toggle="tab"
                           href="#lh-backstage-transaction-finished-page">
                            已完成訂單
                        </a>
                    </li>
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           href="#lh-backstage-transaction-pending-payment-page">待付款訂單</a>
                    </li>
                    <li class="nav-item lh-backstage-nav-item">
                        <a class="nav-link"
                           data-bs-toggle="tab"
                           href="#lh-backstage-transaction-cancelled-page">付款失敗訂單</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="container tab-pane fade show active"
                         id="lh-backstage-transaction-finished-page">
                        <div class="lh-backstage-transaction-table">
                            <table class="lh-backstage-transaction-detail col-12 mt-5"
                                   border="1">
                                <thead>
                                    <tr>
                                        <td>訂單編號</td>
                                        <td>交易時間</td>
                                        <td>教師名稱</td>
                                        <td>課程名稱</td>
                                        <td>時長/單價/堂數</td>
                                        <td>小計</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.MemberOrderList != null && Model.MemberOrderList.Any())
                                    {
                                        @for (var i = 0; i < Model.MemberOrderList.Count; i++)
                                        {
                                            string discountPrice = "";
                                            @if (@Model.MemberOrderList[i].DiscountPrice > 0)
                                            {
                                                discountPrice = $"NT${@Model.MemberOrderList[i].DiscountPrice.ToString("#,###")}";
                                            }

                                            <tr>
                                                <td>@Model.MemberOrderList[i].TrackingNumber</td>
                                                <td>@Model.MemberOrderList[i].OrderDatetime</td>
                                                <td>@Model.MemberOrderList[i].FullName</td>
                                                <td>
                                                    <a href='@Url.Action("CourseMainPage", "Course", new { courseId = Model.MemberOrderList[i].CourseId })'>
                                                        @Model.MemberOrderList[i].CourseTitle
                                                    </a>
                                                </td>
                                                <td>@Model.MemberOrderList[i].CourseLength 分鐘/NT$@Model.MemberOrderList[i].UnitPrice.ToString("#,###")/@Model.MemberOrderList[i].CourseQuantity 堂</td>
                                                <td>NT$@Model.MemberOrderList[i].SubTotal.ToString("#,###")</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">沒有交易紀錄</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container tab-pane fade"
                         id="lh-backstage-transaction-pending-payment-page">
                        <div class="lh-backstage-transaction-table">
                            <table class="lh-backstage-transaction-detail col-12 mt-5"
                                   border="1">
                                <thead>
                                    <tr>
                                        <td>訂單編號</td>
                                        <td>交易時間</td>
                                        <td>教師名稱</td>
                                        <td>課程名稱</td>
                                        <td>時長/單價/堂數</td>
                                        <td>小計</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.PendingOrders != null && Model.PendingOrders.Any())
                                    {
                                        @for (var i = 0; i < Model.PendingOrders.Count; i++)
                                        {
                                            string discountPrice = "";
                                            @if (@Model.PendingOrders[i].DiscountPrice > 0)
                                            {
                                                discountPrice = $"NT${@Model.PendingOrders[i].DiscountPrice.ToString("#,###")}";
                                            }

                                            <tr>
                                                <td>@Model.PendingOrders[i].TrackingNumber</td>
                                                <td>@Model.PendingOrders[i].OrderDatetime</td>
                                                <td>@Model.PendingOrders[i].FullName</td>
                                                <td>
                                                    <a href='@Url.Action("CourseMainPage", "Course", new { courseId = Model.PendingOrders[i].CourseId })'>
                                                        @Model.PendingOrders[i].CourseTitle
                                                    </a>
                                                </td>
                                                <td>@Model.PendingOrders[i].CourseLength 分鐘/NT$@Model.PendingOrders[i].UnitPrice.ToString("#,###")/@Model.PendingOrders[i].CourseQuantity 堂</td>
                                                <td>NT$@Model.PendingOrders[i].SubTotal.ToString("#,###")</td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">沒有交易紀錄</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container tab-pane fade"
                         id="lh-backstage-transaction-cancelled-page">
                        <div class="lh-backstage-transaction-table">
                            <table class="lh-backstage-transaction-detail col-12 mt-5"
                                   border="1">
                                <thead>
                                    <tr>
                                        <td>訂單編號</td>
                                        <td>交易時間</td>
                                        <td>教師名稱</td>
                                        <td>課程名稱</td>
                                        <td>時長/單價/堂數</td>
                                        <td>小計</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.FailedOrders != null && Model.FailedOrders.Any())
                                    {
                                        @for (var i = 0; i < Model.FailedOrders.Count; i++)
                                        {
                                            string discountPrice = "";
                                            @if (@Model.FailedOrders[i].DiscountPrice > 0)
                                            {
                                                discountPrice = $"NT${@Model.FailedOrders[i].DiscountPrice.ToString("#,###")}";
                                            }
                                            <tr>
                                                <td>@Model.FailedOrders[i].TrackingNumber</td>
                                                <td>@Model.FailedOrders[i].OrderDatetime</td>
                                                <td>@Model.FailedOrders[i].FullName</td>
                                                <td>
                                                    <a href='@Url.Action("CourseMainPage", "Course", new { courseId = Model.FailedOrders[i].CourseId })'>
                                                        @Model.FailedOrders[i].CourseTitle
                                                    </a>
                                                </td>
                                                <td>@Model.FailedOrders[i].CourseLength 分鐘/NT$@Model.FailedOrders[i].UnitPrice.ToString("#,###")/@Model.FailedOrders[i].CourseQuantity 堂</td>
                                                <td>NT$@Model.FailedOrders[i].SubTotal.ToString("#,###")</td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">沒有交易紀錄</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section topCSS {

    <link rel="stylesheet" href="~/css/backstage.css" />

}
