@model CourseMainPageViewModel


@section topCSS
{
    @*  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="~/css/course_main_page.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/normalize.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/booking_table_modal.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/tutor_recommend.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/tutor_recommend_carousel_slider.css" rel="stylesheet" asp-append-version="true" />

}



<div class="container tutor-course-page" id="app" data-course-id="@Model.CourseId" data-member-id="@ViewData["MemberId"]" v-cloak>
    <div class="row">
        <div class="col-md-8 col-12 " id="tutor-main-page">
            <div class="lh-tutor-title d-flex mb-3">
                <div class="lh-tutor-pic position-relative">
                    <img class="tutor-headshot rounded-circle"
                         src="@Url.Content(Model.TutorHeadShotImage)" />
                    <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                         src="@Url.Content(Model.TutorFlagImage)" />
                </div>
                <div class="course-name">
                    <h3>@Model.CourseTitle</h3>
                    <span class="course-spcialty mt-2">@Model.CourseSubTitle</span>
                    <div class="class-count mt-2">
                        已完成  <strong>@Model.FinishedCoursesTotal</strong>堂課
                    </div>
                    <div class="follow-section">
                        <!-- 關注按鈕，根據 isFollowing 狀態動態顯示 -->
                        <button id="followBtn" class="btn " @@click="follow" v-if="!isFollowing">
                            <span class="icon-follow">+關注</span>
                        </button>

                        <!-- 取消關注按鈕 -->
                        <button id="unfollowBtn" class="btn " @@click="unfollow" v-else>
                            <span class="icon-unfollow">關注中</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="lh-self-intro">
                <div class="self-intro-header">
                    <h3>自我介紹</h3>
                </div>
                <div class="self-intro-body">
                    <div class="can-speak"><strong>會說</strong> @Model.SpokenLanguage </div>
                    <div class="self-intro-content">
                        <p class="self-intro-paragraph">
                            @Html.Raw(Model.TutorIntro?.Replace("\n", "<br>"))
                        </p>
                        <input type="checkbox" class="lh-expand-btn">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
                <!-- <div class="self-intro-footer">
                    <span>瀏覽全部自我介紹
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </div> -->
            </div>
            <div class="lh-group-course-info">
                <div class="group-course-header">
                    <h3>課程介紹</h3>
                </div>
                <div class="group-course-body">                    
                    <div class="group-course-content">
                        <p class="group-course-paragraph">
                            @Html.Raw(Model.CourseIntro?.Replace("\n", "<br>"))
                        </p>
                        <input type="checkbox" class="group-crouse-btn"> <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="lh-video-intro mb-4">
                <div class="video-info-header">
                    <h3>影片介紹</h3>
                </div>
                <div class="video-info-body ">
                    <iframe src="@Url.Content(Model.CourseVideo)"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="video-info-footer mb-3">
                    自我介紹影片
                </div>
            </div>
            <div class="lh-other-info d-none">
                <div class="more-curse-info">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    進一步了解上課方式
                </div>
                <div class="other-course-time">
                    <i class="fa-regular fa-clock"></i>
                    其他開課時間
                </div>
            </div>
            <div class="lh-badge d-flex gap-md-4">
                <div class="award-icon"><img src="~/image/tutor_badge_imgs/tutor_badge.webp"></div>
                <div class="badge-content">
                    <strong>僅有 8.5% 的優質教師</strong>
                    <br>在 TalkingTopia 受到大量學生喜愛，好評不斷的優質教師！
                </div>
            </div>
            <div class="lh-tutor-comment " >
                <div class="course-comment-generator w-100" v-if="hasTakenClass===true">
                    <h3 class="my-2">對課程的感想</h3>
                    <div class="comment-rating-stars w-100 d-flex ">
                        <p class="rating-star-sign">留下你對此課程的評分:</p>
                        <p-rating class="comment-rating-little-star my-1" name="rating" v-model="rating"></p-rating>
                    </div>
                    <div class="comment-input-section my-3 d-flex form-group">
                        <input type="text" v-model="newReviewContent" class="comment-input-box my-3 col-8" placeholder="請留下評論...." aria-label="Username" aria-describedby="basic-addon1">
                        <button class="btn comment-submit-btn my-3" @@click="reviewContentChecked">
                            評論檢查 
                        </button>
                        <button class="btn comment-submit-btn my-3" @@click="submitRating" v-if="commentIsChecked">
                            <i class="bi bi-send"></i> 送出
                        </button>
                    </div>
                </div>
                
                <div class="tutor-rating d-flex align-content-center">
                    <p class="comment-count ">{{ courseReviews.length }} 筆課程評價</p>
                    <div class="rating-star" >
                        <p-rating class="display-rating-star my-1" v-model="fetchedRating" readonly></p-rating>
                    </div>
                </div>
                <p v-if="courseReviews.length === 0">目前沒有評論</p>
                <div v-for="(review, index) in courseReviews.slice(0, 2)" :key="index" class="comment-card">                    
                    <div class="comment d-flex ">
                        <div class="user-icon ">
                            <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                            </svg>
                        </div>
                        <div class="comment-info d-flex flex-column">
                            <p class="user-name">{{ review.ReviewerName }}</p>
                            <p class="comment-date">{{ review.ReviewDate }}</p>
                            <p-rating v-model="review.CommentRating" readonly></p-rating>
                        </div>
                    </div>
                    <p>{{ review.ReviewContent }}</p>
                </div>
               
                <button type="button" class="btn more-comment" data-bs-target="#moreInfoModal" data-bs-toggle="modal">
                    顯示全部{{ courseReviews.length }}則評論
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
            <div class="lh-tutor-evaluation d-flex ">
                <h3 class="w-100">教師表現數據</h3>
                <div class="tutor-evaluation-card col-md-4 col-12 mt-3">
                    <div class="evaluation-title">
                        <p style="font-size: 20px;font-weight: bold;margin-bottom: 0px;">100%</p>
                        <p>滿意度</p>
                    </div>
                    <div class="evaluation-score-list">
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>八月</p>
                                <p style="color: var(--theme-color);">4筆</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 4%;background-color: var(--theme-color)">
                                </div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>七月</p>
                                <p>18筆</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 18%;background-color: #aaa;"></div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>六月</p>
                                <p>17筆</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 17%;background-color: #aaa;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tutor-evaluation-card col-md-4 col-12 mt-3">
                    <div class="evaluation-title">
                        <p style="font-size: 20px;font-weight: bold;margin-bottom: 0px;">100%</p>
                        <p>出席率</p>
                    </div>
                    <div class="evaluation-score-list">
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>八月</p>
                                <p style="color: var(--theme-color);">100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: var(--theme-color)">
                                </div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>七月</p>
                                <p>100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: #aaa;"></div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>六月</p>
                                <p>100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: #aaa;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tutor-evaluation-card col-md-4 col-12 mt-3 mb-3">
                    <div class="evaluation-title">
                        <p style="font-size: 20px;font-weight: bold;margin-bottom: 0px;">100%</p>
                        <p>回復率</p>
                    </div>
                    <div class="evaluation-score-list">
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>八月</p>
                                <p style="color: var(--theme-color);">100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: var(--theme-color)">
                                </div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>七月</p>
                                <p>100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: #aaa;"></div>
                            </div>
                        </div>
                        <div class="evaluation-score">
                            <div class="progress-bar-content d-flex">
                                <p>六月</p>
                                <p>100%</p>
                            </div>
                            <div class="progress" role="progressbar" style="height: 5px" aria-label="Example high"
                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 100%;background-color: #aaa;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lh-tutor-resume">
                <h3>履歷</h3>
                <div class="tutor-resume-content">
                    工作經驗
                    <ul>
                        @foreach (var work in Model.ExperienceList)
                        {
                            <li>@(work.StartYear) - @(work.EndYear) @(work.WorkTitle)</li>
                        }
                    </ul>
                </div>
                <div class="tutor-resume-content ">
                    教育背景
                    @foreach (var edu in Model.EducationDegree)
                    {
                        <ul class="d-flex">
                            <li>@edu.StudyStartYear - @edu.StudyEndYear  @edu.SchoolAndDepartment</li>
                            <i class="fa-solid fa-circle-check">已上傳證書</i>
                        </ul>
                    }                    
                </div>
                <div class="tutor-resume-content ">
                    證照證書
                    @foreach (var pro in Model.ProfessionList)
                    {
                        <ul class="d-flex">
                            <li>@pro.ProfessionName</li>
                            <i class="fa-solid fa-circle-check">已上傳證書</i>
                        </ul>
                    }
                </div>
            </div>
            <div class="lh-more-trouble">
                <h3>常見問題</h3>
                <div class="more-trouble-content">
                    預約方式
                    <ul>
                        <li>購買課程後可依照教師行事曆的時間預約課程</li>
                        <li>如教師顯示『可即時授課』則可立即預約教師待會的時間</li>
                        <li>如教師未在線上最快可預約 24 小時之後的課程</li>
                    </ul>
                </div>
                <div class="more-trouble-content">
                    費用說明
                    <ul>
                        <li>體驗課程課時約為 25 分鐘</li>
                        <li>正式課程課時約為 50 分鐘</li>
                        <li>正式課程購買超過 5 堂有額外折扣（視老師開課價額而定）</li>
                    </ul>
                </div>
                <div class="more-trouble-content">
                    上課說明
                    <ul>
                        <li>開課前 10 分鐘進入網站，選擇『我的課程』找到該堂課並點選『進入教室』，即可開啟 ZOOM 教室開始上課</li>
                        <li>手機、電腦皆可使用 ZOOM 上課（手機請先下載 ZOOM 應用程式）</li>
                    </ul>
                </div>
                
            </div>
            <partial name="_BookingTablePartial" />
            <div class="modal fade" id="confirmBookingModal" tabindex="-1"
                 aria-labelledby="confirmBookingModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div>確認預約內容</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            <img class="tutor-headshot rounded-circle"
                                 src="/Materials/tutor_headshot_imgs/tutor_head_001.jpg" alt="Tutor's Photo">
                            <p class="overflow-hidden">
                                <strong>教師名稱：</strong>{{ tutorName }}
                            </p>
                            <p><strong>預約堂數：</strong> {{ bookedLessons }}</p>

                        </div>
                        <table class="book-info-table ">
                            <thead>
                                <tr>
                                    <th>課程日期</th>
                                    <th>時間</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="confirmBookingModalDate"></td>
                                    <td id="confirmBookingModalTime"></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="modal-footer col-8 mx-auto mb-2 d-flex justify-content-between">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-next">下一步</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-12 " id="tuition-sidebar">
            <div class="side-bar-header">一對一課程</div>
            <div class="side-bar-body">
                <a asp-controller="Chat" asp-action="Index" asp-route-id="@Model.CourseId" asp-route-type="tutor" class="course-info-card try-out-course d-flex mb-3" style="text-decoration:none;">
                    <div class="course-charging d-flex flex-column">
                        <div class="charging-fee">與教師展開對話</div>
                        <div class="course-number-time"></div>
                    </div>
                    <div class="course-discount d-flex">
                        <div class="course-discount-logo d-none">5% Off</div>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </a>
                <div class="course-type-switch-tab d-flex">
                    <div class="course-info-tab px-4 py-2 mb-2 course-info-tab-color" id="min-25">25分鐘</div>
                    <div class="course-info-tab px-4 py-2 mb-2" id="min-50">50分鐘</div>
                </div>

                <div class="course-info-group min-25">
                    @foreach (var item in Model.TwentyFiveDiscountedPrice)
                    {
                        <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post"
                              class="course-info-card d-flex text-decoration-none text-reset" style="background: none; border: none; padding: 0;">

                            @Html.AntiForgeryToken() <!-- CSRF 保護 -->

                            <input type="hidden" name="courseId" value="@Model.CourseId" />
                            <input type="hidden" name="courseLength" value="25" />
                            <input type="hidden" name="quantity" value="@item.CourseCount" />


                            <button type="submit" class="course-info-card d-flex w-100 text-left" style="background: none; border: none; min-height:65px;">
                                <div class="course-charging d-flex flex-column">
                                    <div class="charging-fee">NT$@(item.DiscountPrice)</div>
                                    <div class="course-number-time mt-2">@(item.CourseCount)堂@(item.CourseDurance)分鐘課</div>
                                </div>
                                <div class="course-discount d-flex">
                                    <div class="course-discount-logo">@(item.Discount)% Off</div>
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </button>
                        </form>
                    }
                </div>

                <div class="course-info-group min-50 d-none ">
                    @foreach (var item in Model.FiftyDiscountedPrice)
                    {
                        <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post"
                              class="course-info-card d-flex text-decoration-none text-reset" style="background: none; border: none; padding: 0;">

                            @Html.AntiForgeryToken() <!-- CSRF 保護 -->

                            <input type="hidden" name="memberId" value="@Model.MemberId" />
                            <input type="hidden" name="courseId" value="@Model.CourseId" />
                            <input type="hidden" name="courseLength" value="50" />
                            <input type="hidden" name="quantity" value="@item.CourseCount" />


                            <button type="submit" class="course-info-card d-flex w-100 text-left" style="background: none; border: none; min-height:65px;">
                                <div class="course-charging d-flex flex-column">
                                    <div class="charging-fee">NT$ @item.DiscountPrice</div>
                                    <div class="course-number-time mt-2">@(item.CourseCount)堂@(item.CourseDurance)分鐘課</div>
                                </div>
                                <div class="course-discount d-flex">
                                    <div class="course-discount-logo">@(item.Discount)% Off</div>
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 lh-tutor-detailed-info">
        <h3 class="my-4 ">相似教師推薦</h3>
        <div class="tutor-recommend-carousel-wrapper w-100 my-2 position-relative">
            <div class="tutor-recommend-carousel">
                @foreach (var card in Model.TutorReconmmendCard)
                {
                    <partial name="_TutorRecommendPartial" model="card" />
                }
            </div>
            <div class="arrow_prev "><i class="fa-solid fa-angle-left"></i></div>
            <div class="arrow_next "><i class="fa-solid fa-angle-right"></i></div>
        </div>
    </div>

    <div class="modal fade comment-popout-view" id="moreInfoModal" tabindex="-1" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content " id="course-comment-modal">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@Model.CourseTitle</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body course-comment-modal-body d-flex">
                    <div class="comment-modal-selection col-md-6 col-12">
                        <div class="comment-rating-section mb-4">
                            <h3>課程評價</h3>
                            <div class="comment-rating-group">
                                <div class="form-check" v-for="rating in [5, 4, 3, 2, 1]" :key="rating">
                                    <input class="form-check-input comment-rating-selection" type="checkbox"
                                           :id="'rating-' + rating" v-model="selectedRatings"
                                           :value="rating">
                                    <label class="form-check-label" :for="'rating-' + rating">
                                        <i class="fa-solid fa-star"></i>
                                        <p class="rating-level">{{ rating }}。{{ getRatingText(rating) }}</p>
                                        <p>{{ rating }}</p>
                                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar" :style="{ width: getRatingPercentage(rating) + '%' }"></div>
                                        </div>
                                        <p class="comment-percentage">{{ getRatingPercentage(rating) }}%</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 comment-card-section h-100">
                        <p v-if="selectedRatings.length === 0 && courseReviews.length === 0">目前沒有評論</p>
                        <p v-else-if="filteredReviews.length === 0 && selectedRatings.length !== 0">目前沒有此分數的評論!!</p>
                        <div v-for="(review, index) in filteredReviews" :key="index" class="comment-card">
                            <div class="comment d-flex ">                                
                                <div class="user-icon">
                                    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
                                    </svg>
                                </div>
                                <div class="comment-info d-flex flex-column">
                                    <p class="user-name">{{ review.ReviewerName }}</p>
                                    <p class="comment-date">{{ review.ReviewDate }}</p>
                                    <p-rating v-model="review.CommentRating" readonly></p-rating>
                                </div>
                            </div>
                            <p>{{ review.ReviewContent }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@* <div class="lh-rwd-course-info-tab col-12">
    <div class="try-out-class-info">
        <div class="tab-charging-fee">This will be replace</div>
        <div class="tab-course-number-time">25分鐘體驗課</div>
    </div>
    <div class="course-button-group">
        <button class="try-out-book">預約體驗</button>
        <button class="try-out-tutor-contact">聯繫老師</button>

    </div>
</div> *@





@section endJS
{    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/primevue/umd/primevue.min.js"></script>
    <script src="https://unpkg.com/@@primevue/themes/umd/aura.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/course-main-page.js" asp-append-version="true"></script>
    <script type="module" src="~/js/booking_table/booking_table_modal.js" asp-append-version="true"></script>
    <script src="~/js/tutor_recommend_carousel.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var courseId = @ViewData["CourseId"];
            var bookingDateStart = new Date();
            generateBookingTable(bookingDateStart, courseId);
        });        

    </script>    

}