@model TutorRecomCardList

<div class="lh-tutor-card py-3 px-4 position-relative " data-courseid="@Model.CourseId">
    <div class="lh-tutor-card__header mx-auto d-flex flex-column align-items-center  mx-auto">
        <div class="lh-tutor-images__head position-relative mt-1 mb-2">
            <img class="tutor-headshot rounded-circle"
                 src="@Url.Content(Model.TutorHeadShot)" />
            <img class="tutor-nation-icon rounded-circle border border-white position-absolute "
                 src="@Url.Content(Model.NationFlagImg)" />
            <div class="tutor-online-status"></div>
        </div>
        <div class="tutor-head-brief-pricing">
            <span class="fifty-min-course-pricing fw-bolder">NT$@(Model.FiftyminPrice)</span><span class="text">
                /
                50分鐘
            </span>
        </div>
        @* <div class="lh-tutor-follow my-2">+關注</div> *@
    </div>
    <div class="lh-tutor-card__body">
        <div class="tutor-title-and-ranking d-flex justify-between align-items-center">
            <span class=" tutor-description-title col-8" >
                @Model.CourseTitle
            </span>
            <div class="tutor-ranking col-4 d-flex justify-content-end">
                <i class="bi bi-star-fill pe-1"></i><span>@Model.Rating</span>
            </div>
        </div>
        <div class="tutor-subtitle mb-3">@Model.CourseSubTitle</div>
        <p class="tutor-intro-text mb-2">
            @Model.Description
        </p>
        <div class="course-pricing d-flex justify-content-between mb-2">
            <div class="trail-course-pricing ">
                NT$@(Model.TwentyFiveMinPrice) <div class="text">25分鐘</div>
            </div>
            <div class="fifty-min-course-pricing">
                NT$@(Model.FiftyminPrice) <div class="text">50分鐘</div>
            </div>
        </div>
        <div class="contact-btns-wrapper d-flex gap-1">
            <button type="button" class="lh-tutor-card__book-btn col-12"
                    onclick="window.location.href='@Url.Action("CourseMainPage", "Course", new { courseId = Model.CourseId })'">
                查看課程
            </button>
        </div>
    </div>
</div>

