@model ShoppingCartListViewModel
@{
    int total = 0;
}
<div class="container" id="app">
    <div class="container-title">
        <h2>購物車</h2>
    </div>
    <div class="cart-list">
        <table class="tbwidth">
            <thead>
                <tr>
                    <th>商品</th>
                    <th>科目</th>
                    <th>類别</th>
                    <th>時間</th>
                    <th>堂數</th>
                    <th>小計</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ShoppingCartList.Count; i++)
                {
                    var item = Model.ShoppingCartList[i];
                    <tr>
                        <td data-label="商品">
                            <a href="#" class="d-flex align-items-center lh-backstage-shoppingcart-course-name">
                                <img src="@item.HeadShotImage" align="middle"
                                     class="teacher-img-img" /><p class="flex-grow-1 m-0" id="productInfo">@item.CourseTitle</p>
                            </a>
                            <form asp-controller="ShoppingCart" asp-action="Delete" method="post">
                                @Html.AntiForgeryToken() <!-- CSRF 保護 -->
                                <input type="hidden" name="courseId" value="@item.CourseId" />
                                <button type="submit" style="background: none; border: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M170.5 51.6L151.5 80l145 0-19-28.4c-1.5-2.2-4-3.6-6.7-3.6l-93.7 0c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80 368 80l48 0 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-8 0 0 304c0 44.2-35.8 80-80 80l-224 0c-44.2 0-80-35.8-80-80l0-304-8 0c-13.3 0-24-10.7-24-24S10.7 80 24 80l8 0 48 0 13.8 0 36.7-55.1C140.9 9.4 158.4 0 177.1 0l93.7 0c18.7 0 36.2 9.4 46.6 24.9zM80 128l0 304c0 17.7 14.3 32 32 32l224 0c17.7 0 32-14.3 32-32l0-304L80 128zm80 64l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16z" />
                                    </svg>
                                </button>
                            </form>
                        </td>
                        <td data-label="科目">@item.CourseSubject</td>
                        <td data-label="類別">@item.CourseCategory</td>
                        <td data-label="時間">
                            <select class="form-select" id="lh-timeSelect-@i" data-index="@i">
                                @if (item.CourseLength == 25)
                                {
                                    <option class="lh-course-length" value="@item.TFUnitPrice" selected>25分鐘 - NT$@item.TFUnitPrice.ToString("#,###")</option>
                                    <option class="lh-course-length" value="@item.FTUnitPrice">50分鐘 - NT$@item.FTUnitPrice.ToString("#,###")</option>
                                }
                                else if (item.CourseLength == 50)
                                {
                                    <option class="lh-course-length" value="@item.TFUnitPrice">25分鐘 - NT$@item.TFUnitPrice.ToString("#,###")</option>
                                    <option class="lh-course-length" value="@item.FTUnitPrice" selected>50分鐘 - NT$@item.FTUnitPrice.ToString("#,###")</option>
                                }
                            </select>
                        </td>
                        <td data-label="堂數">
                            <select class="form-select" id="lh-sc-quantitySelect-@i" data-index="@i">
                                @if (item.CourseQuantity == 1)
                                {
                                    <option id="lh-sc-quantity-@i" value="1" selected>1 堂</option>
                                    <option id="lh-sc-quantity-@i" value="5">5 堂</option>
                                    <option id="lh-sc-quantity-@i" value="10">10 堂</option>
                                    <option id="lh-sc-quantity-@i" value="20">20 堂</option>
                                }
                                else if (item.CourseQuantity == 5)
                                {
                                    <option id="lh-sc-quantity-@i" value="1">1 堂</option>
                                    <option id="lh-sc-quantity-@i" value="5" selected>5 堂</option>
                                    <option id="lh-sc-quantity-@i" value="10">10 堂</option>
                                    <option id="lh-sc-quantity-@i" value="20">20 堂</option>
                                }
                                else if (item.CourseQuantity == 10)
                                {
                                    <option id="lh-sc-quantity-@i" value="1">1 堂</option>
                                    <option id="lh-sc-quantity-@i" value="5">5 堂</option>
                                    <option id="lh-sc-quantity-@i" value="10" selected>10 堂</option>
                                    <option id="lh-sc-quantity-@i" value="20">20 堂</option>
                                }
                                else if (item.CourseQuantity == 20)
                                {
                                    <option id="lh-sc-quantity-@i" value="1">1 堂</option>
                                    <option id="lh-sc-quantity-@i" value="5">5 堂</option>
                                    <option id="lh-sc-quantity-@i" value="10">10 堂</option>
                                    <option id="lh-sc-quantity-@i" value="20" selected>20 堂</option>
                                }
                            </select>
                        </td>
                        <td data-label="小計">
                            <p class="price discount">NT$ <span id="subtotal-@i" data-index="@i">@item.SubtotalNTD.ToString("#,###")</span></p>
                            <p class="discount-info">省 NT$ <span id="discount-info-@i" data-index="@i">@item.Discount.ToString("#,###")</span></p>
                        </td>
                        <td class="del" data-label="刪除">
                            <form asp-controller="ShoppingCart" asp-action="Delete" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="courseId" value="@item.CourseId" />
                                <button type="submit" style="background: none; border: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path d="M170.5 51.6L151.5 80l145 0-19-28.4c-1.5-2.2-4-3.6-6.7-3.6l-93.7 0c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80 368 80l48 0 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-8 0 0 304c0 44.2-35.8 80-80 80l-224 0c-44.2 0-80-35.8-80-80l0-304-8 0c-13.3 0-24-10.7-24-24S10.7 80 24 80l8 0 48 0 13.8 0 36.7-55.1C140.9 9.4 158.4 0 177.1 0l93.7 0c18.7 0 36.2 9.4 46.6 24.9zM80 128l0 304c0 17.7 14.3 32 32 32l224 0c17.7 0 32-14.3 32-32l0-304L80 128zm80 64l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0l0 208c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-208c0-8.8 7.2-16 16-16s16 7.2 16 16z" />
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                    total += @item.SubtotalNTD;
                }
            </tbody>
        </table>
    </div>
    <div class="payment-list">
        <div class="coupon-title">
            <h3>付款方式</h3>
        </div>
        <div class="payment row-payment">
            <div class="card card-payment col-md-4 col-12" data-payment="creditcard">
                <div class="card-body">
                    <h5 class="card-title">信用卡付款</h5>
                    <p class="card-text">Visa, Mastercard</p>
                </div>
            </div>
        </div>
    </div>
    <div class="total-price">
        <div class="container total-price">

            <p>總金額：NT$ <span id="lh-sc-totalPrice" value="@total">@total.ToString("#,###")</span></p>
            <input type="hidden" name="totalAmount" value="@total" />
        </div>
    </div>
    <div>
        <input class="sc-input" type="hidden" name="paymentType" value="CreditCard" />
        <form id="shopping-cart-submit-btn" method="post" asp-controller="Payment" asp-action="New">
            <button type="submit" class="return-order_btn text-white">確認並支付</button>
            <br>
            <br>
        </form>
    </div>
</div>

@section topCSS {
    <link rel="stylesheet" href="~/css/ShoppingCartCheck.css" />
}
@section endJS {
    <script>
        window.viewModelData = @Html.Raw(Json.Serialize(Model));
    </script>
    <script src="~/js/shoppingcart.js"></script>
}
